.carousel{
    display: flex;
    flex-direction: column;
    align-content: center;
}
.carousel_container{
    display: flex;
    justify-content: space-around;
    align-content: center;
}
.carousel_container_hidden::before{
    border: 1px solid red;
}
.carousel_container_hidden{
    display: none;
}

.carousel_text, .carousel_image{
    align-self: center;
    padding: 1rem 2rem;
    min-width: 50%;
}

.carousel_text{
    display: flex;
    flex-direction: column;
    height: 40rem;
}
.carousel_buttons{
    display: flex;
    justify-content: center;
    padding-right: 0.5rem;

}
.carousel_button{
    width: min-content;
    background-color: var(--grey);
    border-radius: 50%;
    border: 1px solid var(--grey);
    margin: 2%;
    padding: 1%;
    box-shadow: none;
    margin-right: 0.01%;
}


.carousel_button:hover{
    background-color: var(--grey);
    border: 1px solid var(--accent);
}

.carousel_button_selected{
    width: min-content;
    border-radius: 50%;
    margin: 2%;
    padding: 1%;
    box-shadow: none;
    background-color: var(--accent);
    border: 1px solid var(--accent);
    margin-right: 0.01%;
}